{% load shop_tags i18n ffcsa_core_tags %}

<style>
    h2 {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    table.items {
        border-collapse: collapse;
        color: #333;
        width: 75%;
    }

    .items tr:nth-child(even) {
        background: #eee;
    }

    .items tr:first-child {
        background: white;
    }

    .items td, th {
        border: 1px solid #ccc;
        padding: 0.5em;
    }

    .items th {
        border: none;
        text-align: center;
    }

    .items tbody {
        border-bottom: 3px solid black;
    }
</style>

{% if order.no_plastic_bags or not order.allow_substitutions %}
    <table style="border: 1px solid black; font-weight: bold; width: 100%; margin-bottom: 5px; padding: 5px 0;">
        <tr>
            <td>
                {% if order.no_plastic_bags %}
                    <span>NO PLASTIC BAGS</span>{% endif %}
                {% if not order.allow_substitutions %}
                    <span style="float: right">NO SUBSTITUTIONS</span>{% endif %}
        </tr>
    </table>
{% endif %}

<table style="border: none; width: 100%; margin-bottom: 0">
    <tr>
        <td>{% trans "Order ID:" %} {{ order.id }}</td>
        <td style="float:right;">{{ order.time }}</td>
    </tr>
</table>

<h2>{% trans "Your Details" %}</h2>
<table style="width: 100%;">
    {% for row in details %}
        <tr>
            {% for key, value in row %}
                <td style="padding: 5px; font-weight: 600">{{ key }}:&nbsp;&nbsp;&nbsp;</td>
                <td style="padding: 5px;">{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <td style="padding: 5px; font-weight: 600">Drop Site</td>
        <td style="padding: 5px">{{ order.drop_site }}</td>
    </tr>
    {% if order.additional_instructions %}
        <tr>
            <td style="padding: 5px; font-weight: 600">Notes</td>
            <td style="padding: 5px">{% autoescape off %}{{ order.additional_instructions }}{% endautoescape %}</td>
        </tr>
    {% endif %}
</table>

<h2>{% trans "Items Ordered" %}</h2>
<table class="items">
    <tr>
        <th>{% trans "Item" %}</th>
        <th>{% trans "Qty" %}</th>
        <th>{% trans "Packed" %}</th>
    </tr>

    {% for key, group in grouped_items.items %}
        <tbody>
            {% for item in group %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><input type="checkbox"/></td>
                </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>
