{% load shop_tags i18n %}

<style>
    table.items {
        border-collapse: collapse;
        color: #333;
        width: 75%;
    }

    .items tr:nth-child(even) {
        background: #eee;
    }

    .items tr:first-child {
        background: white;
    }

    .items td, th {
        border: 1px solid #ccc;
        padding: 0.5em;
    }

    .items th {
        border: none;
        text-align: center;
    }

    .items tbody {
        border-bottom: 3px solid black;
    }
</style>

<h1>{{ settings.SITE_TITLE }}</h1>

<table style="border: none; width: 100%;">
    <tr>
        <td>{% trans "Order ID:" %} {{ order.id }}</td>
        <td style="align:right;">{{ order.time }}</td>
    </tr>
</table>

<h2>{% trans "Your Details" %}</h2>
<table style="width: 75%;">
    {% for field, value in order_billing_detail_fields %}
        {% if field in details_list %}
            <tr>
                <td style="padding: 5px;">{{ field }}:&nbsp;&nbsp;&nbsp;</td>
                <td style="padding: 5px;">{{ value }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td style="padding: 5px;">Attending Dinner</td>
        <td style="padding: 5px">{{ order.attending_dinner }}</td>
    </tr>
    <tr>
        <td style="padding: 5px;">Drop Site</td>
        <td style="padding: 5px">{{ order.drop_site }}</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 5px">{{ order.additional_instructions }}</td>
    </tr>
</table>

<h2>{% trans "Items Ordered" %}</h2>
<table class="items">
    <tr>
        <th>{% trans "Item" %}</th>
        <th>{% trans "Qty" %}</th>
        <th>{% trans "Packed" %}</th>
    </tr>

    {% for key, group in grouped_items.items %}
        <tbody>
            {% for item in group %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><input type="checkbox"/></td>
                </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>
