<div class="form-group">
    <label for="amount" class="control-label">Monthly Contribution Amount</label>
    {% if user.profile.monthly_contribution != None %}
        <input class="form-control" type="text" required name="amount"
               value="{{ user.profile.monthly_contribution }}"/>
    {% else %}
        <input class="form-control" type="text" required name="amount"/>
    {% endif %}
    <span id="helpBlock" class="help-block">
                    minimum $172. <br/>How much should I pay? This amount will be your monthly budget for each month throughout the year,
                    which may include either 4 weeks or 5 weeks of ordering. Although we recommend multiplying your
                    weekly ordering amount by 4.33 (the average number of weeks in a month), you may want to give
                    yourself some extra buffer room for those longer, 5 week months, but you can also top up your
                    account if needed periodically.
                </span>
</div>