{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags static i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/ffcsa_core/payments.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/lodash.js" %}"></script>
    <script src="{% static "js/ffcsa_core/payments.js" %}"></script>
{% endblock %}
{% block extra_head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block meta_title %}{% trans "Payments" %}{% endblock %}
{% block title %}{% trans "Payments" %}{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{% trans "Payments" %}</li>
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Manage Subscription</h3>

            <!-- Onetime Payment -->
            {% if user.profile.non_subscribing_member or user.profile.stripe_subscription_id or user.profile.stripe_customer_id and user.profile.can_order and user.profile.ach_status in 'NEW,VERIFYING' %}
                <!-- Payment modal trigger -->
                <p>
                    <button type="button" class="btn btn-info" id="make-payment">
                        Add funds to account
                    </button>
                </p>
                <br/>

                <!-- Payment Modal -->
                <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Add funds to account</h4>
                            </div>
                            <div class="modal-body">
                                {% if user.profile.payment_method == 'ACH' and user.profile.ach_status == 'VERIFIED' %}
                                    <div class="alert alert-warning">
                                        <p>
                                            Note: Because your default payment method is via ACH bank transfer, it will
                                            take
                                            3-5 business days before the payment is reflected in your account.
                                        </p>
                                        <p>If you choose to pay with a credit card below your account will be updated
                                            the
                                            same day.</p>
                                    </div>
                                    <p>This is a one time payment that will be credited to your account.</p>
                                {% endif %}
                                <form action="{% url "make_payment" %}" method="POST" id="payment-form" class="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="amount" class="control-label">Payment Amount</label>
                                        <input class="form-control" type="text" required name="amount"/>
                                    </div>
                                    {% if user.profile.payment_method == 'ACH' or user.profile.non_subscribing_member %}
                                        <div class="form-group">
                                            <label class="control-label">Payment Method</label>
                                            {% if user.profile.ach_status == 'VERIFIED' %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="paymentType" id="paymentTypesDefault"
                                                               value="DEFAULT" checked>
                                                        Subscription default Bank Account
                                                    </label>
                                                </div>
                                            {% endif %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="paymentType" id="paymentTypesCC"
                                                           value="CC">
                                                    Credit Card
                                                </label>
                                            </div>
                                        </div>

                                        {% with False as isSubscription %}
                                            {% include "ffcsa_core/cc_payment_details.html" %}
                                        {% endwith %}
                                    {% endif %}
                                    <div class="form-group checkbox">
                                        <label>
                                            <input required type="checkbox" name="chargeAcknowledgement" value="True"> I
                                            acknowledge that the above amount will be debited from my Card or Bank
                                            Account
                                        </label>
                                    </div>

                                    <div id="stripeErrors"></div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-info" id="submit-payment">Add Funds</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- ACH Bank Verification-->
            {% if user.profile.payment_method == 'ACH' and user.profile.ach_status == 'NEW' or user.profile.payment_method == 'ACH' and user.profile.ach_status == 'VERIFYING' %}
                <p class="alert alert-warning">It looks like your ACH bank account has not been verified. Once you
                    receive
                    the 2 small deposits with the descriptions "<strong>AMNTS:</strong>", enter them below to verify
                    your
                    bank account. The deposits should show on your statement withing 1-2 business days.</p>
                {% for error in subscribe_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <form action="{% url "payments_verify" %}" method="POST" id="verify-form" class="form-inline">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <label for="amount1" class="control-label">Deposit Amounts</label>
                        </div>
                        <div class="col-xs-12 col-sm-4 verify-amounts">
                            <div class="form-group col-xs-6">
                                <input style="width: 100%" class="form-control" required name="amount1">
                            </div>
                            <div class="form-group col-xs-6">
                                <input style="width: 100%" class="form-control" required name="amount2"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <button class="btn btn-info" type="submit">Verify and Make Payment</button>
                        </div>
                    </div>
                </form>
                <!-- New Subscription Signup -->
            {% elif not user.profile.non_subscribing_member and not user.profile.stripe_subscription_id %}
                {% if user.profile.ach_status == 'FAILED' %}
                    <p class="alert alert-danger">We had trouble sending funds to your provided bank account for
                        verification purposes. Your information may have been entered incorrectly. Please try again.</p>
                {% else %}
                    <p class="alert alert-warning">It looks like you have yet to setup a subscription.
                        <br/>
                        <br/>
                        <strong>If you would like to skip the $100 sign up fee and pay for the entire year in
                            advance</strong>, (minimum $172 / month, $2,080 total) send a personal check made out to
                        "Full
                        Farm CSA" by mail to: PO box 565 Junction City, OR 97448
                        <br/>
                        <br/>
                        <strong>Otherwise,</strong> please complete the following form to setup your subscription.</p>
                {% endif %}
                <form action="{% url "payments_subscribe" %}" method="POST" id="subscribe-form" class="form">
                    {% csrf_token %}

                    {% include "ffcsa_core/payment_amount.html" %}

                    {% include "ffcsa_core/payment_details.html" %}


                    {% if not user.profile.paid_signup_fee %}
                        <div class="form-group checkbox">
                            <label>
                                <input required type="checkbox" name="signupAcknowledgement" value="True"> I acknowledge
                                that I will also be charged a one time sign up fee of <strong>$100</strong>
                            </label>
                        </div>
                    {% endif %}

                    <div id="stripeErrors"></div>
                    {% for error in subscribe_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}

                    <button class="btn btn-default btn-info" type="submit">Subscribe</button>
                </form>
            {% elif not user.profile.non_subscribing_member %}
                <p>Your monthly contribution is ${{ user.profile.monthly_contribution }} via
                    {% if user.profile.payment_method == 'CC' %}
                        Credit Card
                    {% else %}
                        ACH Bank Transfer
                    {% endif %}
                    .</p>
                <p>You next payment is scheduled for <strong>{{ next_payment_date }}</strong>.</p>
                {% if user.profile.payment_method == 'ACH' %}
                    <p>Note: It will take 3-5 business days before the payment is reflected in your account.</p>
                {% endif %}

                <br/>

                {% for error in subscribe_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                <button class="btn btn-default" id="edit-payment-info">Update Payment Method</button>
                <button class="btn btn-default" id="edit-payment-amount-btn">Update Monthly Contribution</button>

                <!-- update payment method -->

                <div class="hidden" id="edit-payment">
                    <form action="{% url "payments_update" %}" method="POST" id="edit-payment-form" class="form">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="{{ user.profile.monthly_contribution }}"/>

                        <br/>
                        {% include "ffcsa_core/payment_details.html" %}

                        <div id="stripeErrors"></div>

                        <button class="btn btn-info" type="submit">Save</button>
                        <br/>
                    </form>

                    <!-- update payment amount -->
                    <div class="hidden" id="edit-payment-amount">
                        <form action="{% url "payments_update_amount" %}" method="POST" id="edit-payment-amount-form"
                              class="form">
                            {% csrf_token %}
                            <br/>
                            {% include "ffcsa_core/payment_amount.html" %}


                            <button class="btn btn-info" type="submit">Save</button>
                            <br/>
                        </form>
                    </div>

                </div>
            {% endif %}
            <div id="payment-container"></div>

        </div>
    </div>


    <h3>Payment History</h3>
    {% if user.profile.joined_before_dec_2017 %}
        <div class="alert alert-warning non-field-error"><strong>Note:</strong> Only payments made for Dec. 2017 onwards
            are
            shown here.
        </div>
    {% endif %}
    {% if payments %}

        <table class="table table-striped order-history">
            <thead>
                <th class="left">ID</th>
                <th class="left">{% trans "Date" %}</th>
                <th class="left">{% trans "Description" %}</th>
                <th class="right">{% trans "Amount" %}</th>
            </thead>
            <tbody>
                {% for payment in payments.object_list %}
                    <tr>
                        <td class="left">{{ payment.id }}</td>
                        <td class="left">{{ payment.date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td class="left">{{ payment.notes|default_if_none:"" }}</td>
                        <td class="right">
                            {% if payment.pending %}
                                (pending)
                            {% endif %}
                            {{ payment.amount|currency }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% pagination_for payments %}

    {% else %}
        <p>{% trans "You have not yet made any payments." %}</p>
    {% endif %}

    <input type="hidden" id="stripeApiKey" value="{{ STRIPE_API_KEY }}"/>
{% endblock %}
