{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags i18n %}

{% block meta_title %}{% trans "Payment History" %}{% endblock %}
{% block title %}{% trans "Payment History" %}{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{% trans "Payment History" %}</li>
{% endblock %}

{% block main %}
    <div class="alert alert-warning non-field-error"><strong>Note:</strong> Payments made before Dec. 2017 were not tracked in the online website, thus they will not be seen below</div>
    {% if payments %}

        <table class="table table-striped order-history">
            <thead>
                <th class="left">ID</th>
                <th class="left">{% trans "Date" %}</th>
                <th class="right">{% trans "Amount" %}</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                {% for payment in payments.object_list %}
                    <tr>
                        <td class="left">{{ payment.id }}</td>
                        <td class="left">{{ payment.date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td class="right">{{ payment.amount|currency }}</td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% pagination_for payments %}

    {% else %}
        <p>{% trans "You have not yet made any payments." %}</p>
    {% endif %}

{% endblock %}
