<p>Thank you for signing up for the Full Farm CSA.</p>

<p>We are excited to have you as a member and look forward to providing you with the best fresh produce, meat, milk, and
    eggs from our local member farms!</p>

<p><b>You will need to sign our membership agreement before you can place your first order. You should receive an email
    within a few minutes with the agreement. If you do not receive this email, please reach out.</b></p>

{% if join_dairy_program %}
    <p>Our Dairy Manager will be reaching out within the next few business days to go over a few points regarding our
        Raw Dairy Program. After this conversation we will be able to activate your account and you can start ordering
        dairy products.</p>
{% endif %}

<p><strong>If you would like to pay for the entire year in advance</strong>, send a personal check made out to "Full
    Farm CSA"{% if join_dairy_program %} without the $50 raw dairy program fee{% endif %} by mail to:
    <br/>
    PO box 565 Junction City, OR 97448</p>

<p>Otherwise, you can set up your monthly payments by clicking on the <a href="{{ payments_url }}">"Manage
    Payments"</a> link and following the instructions.</p>

<p>If you have any questions, feel free to reply to this email.</p>

<p>Thanks,
    <br/>
    The Full Farm CSA team</p>
