<p>{{ user }} has just signed up.</p>

<p>You will need to contact them to discuss the Raw Dairy Program. Then you will need to activate their account by
    visiting <a href="{{ user_url }}">{{ user_url }}</a> before they can place an order. Make sure to verify that they
    have signed the Product Liability Form.</p>

<h5>Drop Site</h5>
<p>{{ drop_site }}</p>

<h5>Phone Number</h5>
<p>{{ phone_number }}</p>

{% if phone_number_2 %}
    <h5>Phone Number Alternate</h5>
    <p>{{ phone_number_2 }}</p>
{% endif %}

<h5>What is the best time to reach you?</h5>
<p>{{ best_time_to_reach }}</p>

<h5>What is your preferred method of communication?</h5>
<p>{{ communication_method }}</p>

<h5>How many adults and children are in your family?</h5>
<p>{{ family_stats }}</p>

<h5>How did you hear about us?</h5>
<p>{{ hear_about_us }}</p>

<p>
    {{ csv_data }}
</p>
