<p>Thank you for signing up for the Full Farm CSA.</p>

<p>We are excited to have you as a member and look forward to providing you with the best fresh produce, meat, milk, and
    eggs from our local member farms!</p>

{% if email_product_agreement %}
    <p><b>You will need to sign our liability agreement. You should receive an email within the next 2 business days
        with further instructions. If you do not receive this email, please reach out.</b></p>
{% endif %}

<p>Our Dairy Manager will be reaching out within the next few business days to go over a few points regarding our Raw
    Dairy Program. After this conversation we will be able to activate your account and you can then make your first
    order.</p>

<p><strong>If you would like to pay for the entire year in advance</strong>, send a personal check made out to "Full
    Farm CSA" without the $100 sign up fee by mail to:
    <br/>
    PO box 565 Junction City, OR 97448</p>

<p>Otherwise, you can set up your monthly payments by clicking on the <a href="{{ payments_url }}">"Manage
    Payments"</a> link and following the instructions.</p>

<p>If you have any questions, feel free to reply to this email.</p>

<p>Thanks,
    <br/>
    The Full Farm CSA team</p>
