a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.btn {
    @apply text-white text-center text-2xl font-bold py-2 px-4 rounded-md shadow-xl;
    background-color: theme(colors.orange.3);
}

.btn:hover {
    background-color: #d95320;
}

.btn-sm {
    @apply text-lg self-center w-auto;
    padding: 15px 20px;
    max-height: 57px;
}

.btn-light-orange {
    background-color: theme(colors.orange.2);
}

.btn-light-orange:hover {
    background-color: theme(colors.orange.1); /* TODO */
}

.btn-green {
    background-color: theme(colors.green.1);
}

.btn-green:hover {
    background-color: theme(colors.green.2); /* TODO */
}
