{% load i18n %}
{% load mezzanine_tags ffcsa_core_tags %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="form-group input_{{ field.id_for_label }} {{ field.field.type }} {{ group_class }}
        {% if field.errors %} has-error {% endif %}{% if field|is_checkbox %}checkbox{% endif %}">
        {% if field.label and show_label %}
            <label class="control-label" for="{{ field.auto_id }}">
                {{ field.label }} {% if field.field.required and show_required and not field|is_select %}
                <span class="required">-
                {% trans "required" %}{% endif %}{% if field|is_checkbox %}{{ field }}{% endif %}</label>{% endif %}
        {% if not field|is_checkbox %}{{ field }}{% endif %}
        {% if field.errors %}
            <p class="help-block">
                {% for e in field.errors %}
                    {% if not forloop.first %} / {% endif %}{{ e }}
                {% endfor %}
            </p>
        {% endif %}
        {% if field.help_text %}
            <p class="help-block">{{ field.help_text }}</p>
        {% elif not field.label or not show_label %}
            {% if field.field.required and show_required and not field|is_select %}
                <p class="help-block">{% trans "required" %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
