{% load i18n %}
{% load mezzanine_tags ffcsa_core_tags %}

{% if include_media %}
    {% block extra_js %}{{ form_for_fields.media.js }}{% endblock %}
    {% block extra_css %}{{ form_for_fields.media.css }}{% endblock %}
{% endif %}

{% nevercache %}
    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
    {% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
    {% if field.name not in exclude_fields %}
        {% render_field field %}
    {% endif %}
{% endfor %}
