{% load mezzanine_tags shop_tags i18n static %}

<div class="row shop-category-list">
    {% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}
        {% for category in categories %}
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <a href="{{ category.get_absolute_url }}" class="thumbnail">
                    {% if category.featured_image %}
                        <img src="{{ MEDIA_URL }}{% thumbnail category.featured_image 148 148 %}"/>
                    {% else %}
                        <img class="placeholder" src="{% static 'img/logo.png' %}"/>
                    {% endif %}
                    <div class="caption">
                        <h4>{{ category.title }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        {% for category in child_categories %}
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <a href="{{ category.get_absolute_url }}" class="thumbnail">
                    <div class="caption"><h4>{{ category.title }}</h4></div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
