{% load i18n mezzanine_tags accounts_tags %}

<div class="accounts-panel">
    {% if request.user.is_authenticated %}
        <p>
            {% trans "Logged in as: " %}
            <a href="{% url "profile_update" %}">{{ request.user|username_or:"email" }}</a>
            <a href="{% url "profile_update" %}" class="btn btn-info btn-sm btn-block btn-account">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Update profile" %}</a>
        </p>
        <a href="{% url "logout" %}?next={{ request.get_full_path }}"
           class="btn btn-sm btn-block btn-danger btn-account">
            <span class="glyphicon glyphicon-log-out"></span> {% trans "Log out" %}</a>
    {% else %}
        <a href="{% url "login" %}?next={{ request.get_full_path }}"
           class="btn btn-block btn-default btn-sm btn-account">
            <span class="glyphicon glyphicon-log-in"></span> {% trans "Log in" %}</a>
        <a href="{% url "signup" %}?next={{ request.path }}" class="btn btn-block btn-info btn-sm btn-account">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Join Now!" %}</a>
    {% endif %}
</div>
