/* can't get https://github.com/aniftyco/tailwindcss-spinner to work so we coppied it here */
.spinner {
    position: relative;
    color: transparent !important;
    pointer-events: none;
}

.spinner::after {
    content: '';
    position: absolute !important;
    top: calc(50% - (1em / 2));
    left: calc(50% - (1em / 2));
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid #dae1e7;
    border-radius: 9999px;
    border-right-color: transparent;
    /*border-top-color: transparent;*/
    animation: spinAround 650ms infinite linear;
}

@keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}