{% extends "new_base.html" %}

{% block main %} {{ block.super }}

<div class="min-h-300px lg:min-h-400px xl:min-h-500px bg-cover bg-center bg-overlay-dark" style="background-image: url('static/img/cows-banner.jpg');">
    <div class="flex flex-col justify-center px-4 pt-4 pb-8 min-h-300px lg:min-h-400px xl:min-h-500px">
        <h2 class="text-white text-center text-5xl mb-4">Organic-Pasture Raised Meats & Eggs</h2>
        <h4 class="text-white text-center text-2xl mb-8 leading-snug">Bringing you nutrient-dense meat, milk, and eggs<br/>while building healthier soil</h4>
        <a href="#shop" class="btn text-lg self-center w-auto" style="padding: 15px 20px;">SHOP THE FARM</a>
    </div>
</div>

<div class="flex flex-col md:flex-row">
    <div class="checked-pin-block bg-orange-4">
        <div>
            <div class="bg-yellow-1"></div>
            <img src="/static/img/pin-with-checkmark.svg" draggable="false">
        </div>
        <h4>Nutrient-Dense</h4>
    </div>

    <div class="checked-pin-block bg-orange-5">
        <div>
            <img src="/static/img/pin-with-checkmark.svg" draggable="false">
        </div>
        <h4>Delicious</h4>
    </div>

    <div class="checked-pin-block bg-orange-4">
        <div>
            <div class="bg-green-1"></div>
            <img src="/static/img/pin-with-checkmark.svg" draggable="false">
        </div>
        <h4>Local</h4>
    </div>
</div>

<div class="min-h-500px xl:min-h-600px bg-cover bg-center bg-overlay-light" style="background-image: url('static/img/cows-banner-2.jpg');">
    <div class="flex flex-col justify-center px-4 py-12 min-h-inherit">
        <h2 class="text-brown-6 text-center font-bold text-3xl mb-6" style="line-height: 1.375;">How your meat and eggs are produced is <br class="hidden sm:inline"/>too important to leave to chance.</h2>

        <h4 class="text-brown-7 text-center text-2xl mb-12 leading-snug">How do you know your food was raised responsibly?<br/>Meat and egg production standards are lacking.<br/>Are you craving a better option?</h4>

        <a href="#shop" class="btn text-lg self-center w-auto" style="padding: 15px 20px;">SHOP THE FARM</a>
    </div>
</div>


<div class="flex flex-col justify-center bg-tan-1">
    <h2 class="text-brown-6 text-center font-bold text-3xl">Fresh Locally Sourced Meat and Eggs</h2>

    <div class="flex flex-col flex-wrap space-between justify-center w-700px sm:flex-row">
        <img src="/static/img/">
        <h3>Farmers focused on providing <br/>nutrient-dense meat, milk, and eggs.</h3>
    </div>

    <div class="flex flex-col flex-wrap space-between justify-center w-700px sm:flex-row">
        <img src="/static/img/">
        <h3>Raising the bar for farm <br/>production standards.</h3>
    </div>

    <div class="flex flex-col flex-wrap space-between justify-center w-700px sm:flex-row">
        <img src="/static/img/">
        <h3>Treating animals humanly, sustainable, <br/>and in harmony with nature.</h3>
    </div>

    <a href="#shop" class="btn text-lg self-center w-200px" style="padding: 15px 20px; height: 138px;">SHOP THE FARM</a>
</div>

<!--
<div class="flex justify-center bg-tan-1">
    <div id="home-section-3-grid">
        <h2 class="text-brown-6 text-center font-bold text-3xl grid-span-two-cols">Fresh Locally Sourced Meat and Eggs</h2>

        <img src="/static/img/">
        <h3>Farmers focused on providing <br/>nutrient-dense meat, milk, and eggs.</h3>

        <img src="/static/img/">
        <h3>Raising the bar for farm <br/>production standards.</h3>

        <img src="/static/img/">
        <h3>Treating animals humanly, sustainable, <br/>and in harmony with nature.</h3>

        <a href="#shop" class="btn text-lg w-200px h-fit-content grid-span-two-cols" style="padding: 15px 20px; justify-self: center; height: 150px;">SHOP THE FARM</a>
    </div>
</div>
-->

{% endblock %}
