{% extends "new_base.html" %}

{% block main %} {{ block.super }}

<div class="min-h-300px lg:min-h-400px xl:min-h-500px bg-cover bg-center bg-overlay-dark" style="background-image: url('static/img/cows-banner.jpg');">
    <div class="flex flex-col justify-center px-4 pt-4 pb-8 min-h-300px lg:min-h-400px xl:min-h-500px">
        <h2 class="text-white text-center text-5xl mb-4">Organic-Pasture Raised Meats & Eggs</h2>
        <h4 class="text-white text-center text-2xl mb-8 leading-snug">Bringing you nutrient-dense meat, milk, and eggs<br/>while building healthier soil</h4>
        <a href="#shop" class="btn text-lg self-center w-auto" style="padding: 15px 20px">SHOP THE FARM</a>
    </div>
</div>

<div class="flex flex-col md:flex-row">
    <div class="checked-pin-block bg-orange-4">
        <div>
            <div class="bg-yellow-1"></div>
            <img src="/static/img/pin-with-checkmark.svg" draggable="false">
        </div>
        <h4>Nutrient-Dense</h4>
    </div>

    <div class="checked-pin-block bg-orange-5">
        <div>
            <img src="/static/img/pin-with-checkmark.svg" draggable="false">
        </div>
        <h4>Delicious</h4>
    </div>

    <div class="checked-pin-block bg-orange-4">
        <div>
            <div class="bg-green-1"></div>
            <img src="/static/img/pin-with-checkmark.svg" draggable="false">
        </div>
        <h4>Local</h4>
    </div>
</div>

{% endblock %}
