.create-variations ul {
    margin-left: 130px !important;
}

.create-variations li {
    list-style-type: none;
    float: left;
}

.create-variations li label {
    width: auto;
}

.create-variations input {
    margin: -1px 3px 0px 5px;
}

.create-variations {
    margin-top: 20px;
}

.result-list .vTextField, .sku input {
    width: 100px !important;
}

.tiny {
    font-size: 70%;
}

.unit_price input, .sale_price input, .num_in_stock input {
    width: 50px !important;
    text-align: right;
}

.item img {
    vertical-align: middle;
    margin-right: 10px !important;
}

.viewsitelink {
    display: none !important;
}

#add_id_categories {
    display: none;
}

/*tr.add-row {display:none;}*/

fieldset .field-box {
    /*margin-right: 45px !important;*/
    margin-bottom: 0 !important;
}

/* django nested admin fixes */
.djn-item.grp-predelete td,
.djn-item.grp-predelete .djn-drag-handler {
    background-color: #f2d6d6;
}

.tabular .djn-delete-handler input[type="checkbox"] {
    display: block !important;
}

.djn-drag-handler .remove,
.djn-drag-handler .delete {
    float: right;
    padding-right: 1em;
}

.djn-drag-handler .remove > label,
.djn-drag-handler .delete > label {
    color: #309bbf
}

.djn-drag-handler .remove > label:hover,
.djn-drag-handler .delete > label:hover {
    color: #444
}

/*.djn-tr .original p {*/
.djn-items .original {
    display: none;
}

.djn-tr.form-row:before {
    display: none;
}

.djn-add-item {
    position: relative;
}

.djn-add-item > a {
    top: 0;
}

.margin input,
.vendor_price input {
    width: 50px !important;
    text-align: right;
}

thead th {
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
}

thead th a:link,
thead th.sorted a {
    border-top: none;
}

td {
    text-align: center;
    vertical-align: middle;
}

.column-order_on_invoice a,
.column-num_in_stock a,
.column-weekly_inventory a,
.column-in_inventory a,
.column-available a {
    white-space: normal;
    text-align: center;
}

.field-sku input,
.field-order_on_invoice input,
.field-num_in_stock input,
.field-unit_price input,
.field-vendor_price input {
    max-width: 50px;
    text-align: center;
}

.field-cat,
.field-vendor input {
    min-width: 160px;
}

/* Copied from grapelli forms.css */

.change-list form table input[type=number] {
    position: relative;
    top: -5px;
    margin-bottom: -9px;
    vertical-align: top;
}

