<p>Hi</p>

<p>We have received your first month's payment and you are now able to make your first order starting
    {% if can_order_now %}
        <strong>today</strong>
    {% else %}
        on <strong>{{ order_week_start }} at 5 pm</strong>
    {% endif %}
    . {% if home_delivery %}Your first week's order will be <strong>delivered to your house</strong> on{% else %}Your
        first week's order will be available for pickup at <strong>{{ drop_site }}</strong>, on{% endif %}
    <strong>{{ pickup_date }}</strong>.</p>

<p>Just a friendly reminder that your order must be put together by {{ order_week_end }} at midnight each week. This is very
    important to ensure that we can get all your veggies on time. If your order is not submitted on time, you will not
    receive an order that week.</p>

<p>Please bring your own containers to the pick up site which could include shopping bags, coolers or totes, whatever is
    easiest for you. Please remember it is the FFCSA member's responsibility to double check the included packlist in
    order to ensure that you have received all the products ordered and listed, especially dairy or frozen products
    which may be in a separate cooler. It gets pretty busy at some dropsites and while our market reps are there to
    help, they don't always have the time to individually check you are picking up all items.</p>

<p><strong>Jar Return Policy:</strong> you can get $3 back for returning a clean, dry, 1/2 gallon glass jar with PLASTIC
    lid attached (we will not give money back for jars with sharpie on the outside, with a smell on the inside, jars
    with metal lids, or with no lids. We always pack them with the plastic, more expensive lids because they last
    longer). You can get this refund at your regular dropsite: farmer's markets, Corner Market and the Deck Family Farm.
    The reps at all these places will know to check the cleanliness and lid-state of all jars before accepting them. The
    price of this deposit is worked into the "value" of each 1/2 gal of milk ordered on the member store. The quart jars
    can also be returned to the dropsite, but no refund is given for these.</p>

<p>Thanks so much again for being part of our Full Farm CSA. We are looking forward to working with you!</p>
<p>Ella and The Team.</p>

