<p>Hi {{ first_name }}!</p>

<p>We have received your order for this week!</p>

<p>
    {% if home_delivery %}Your order will be <b>delivered on {{ pickup_date }}</b>. In the next day or two, you will
        receive a notification with an estimated delivery time.
    {% else %}
        Your order will be available for pickup on {{ pickup_date }} at the following drop site: <b>{{ drop_site }}.</b>
        Please see the dropsite information email for drop site details and pickup times.
    {% endif %}
</p>

<p>Let us know if you have any questions!</p>
<p>
    The FFCSA Team!<br/>
    541-321-0925
</p>


