<p><strong>Congratulations!</strong> Your monthly Full Farm CSA contribution payment is now pending, which means that
    you should see your monthly payment amount taken out of your bank account soon. It can take 7-10 days to show up in
    your member store budget after that.</p>

<p>If you are waiting on this payment amount to make an order in the member store, and would like to do so before then,
    you always have the option to make a one time credit card payment to "top up" your account, which you can do so by
    visiting <a href="{{ payments_url }}">{{ payments_url }}</a>. Please let us know if you have any questions!</p>

<p>Best,</p>
<p>The Full Farm CSA Team</p>

