{% extends "shop/base.html" %}
{% block main %}
    <h2>It looks like you have declined to sign our Membership Agreement.</h2>

    <p class="mb-4">Please send us an email to <a href="mailto:fullfarmcsa@deckfamilyfarm.com">fullfarmcsa@deckfamilyfarm.com</a>
        letting us know the reason you have declined to sign the membership agreement. We're happy to work with you
        to modify the agreement so you are comfortable signing.
    </p>
    <p>Please note that you will not be able to place an order without a signed membership agreement</p>
{% endblock %}
