{% load i18n shop_tags mezzanine_tags %}
{% if request.user.is_authenticated %}
    {% spaceless %}
        <div class="shop-panel">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2"><a href="{% url "shop_cart" %}">Edit Weekly Order</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% if not request.cart.items.exists %}
                        <tr>
                            <td class="text-center" colspan="2">no items</td>
                        </tr>
                    {% endif %}
                    {% for item in request.cart.items.all %}
                        <tr>
                            <td>{{ item.quantity }}x</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-condensed">
                <tbody>
                    {% with budget=request.user.profile.weekly_budget order_total=request.cart.total_price %}
                        <tr>
                            <td><strong>Order Value:</strong> ${{ order_total }}</td>
                        </tr>
                        <tr>
                            <td><strong>Suggested Budget:</strong> ${{ budget }}</td>
                        </tr>
                    {% endwith %}
                </tbody>
            </table>

            <a href="{% url "shop_order_history" %}" class="btn btn-sm btn-block btn-info btn-account">
                <span class="glyphicon glyphicon-folder-open"></span> {% trans "View Order History" %}</a>

            {% if settings.SHOP_USE_WISHLIST %}
                <a href="{% url "shop_wishlist" %}" class="btn-wishlist">
                    <span class="glyphicon glyphicon-star"></span>
                    {% blocktrans count request.wishlist|length as wishlist_count %}Wishlist contains 1 item{% plural %}
                        Wishlist contains {{ wishlist_count }} items{% endblocktrans %}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endif %}
