{% load i18n shop_tags mezzanine_tags ffcsa_core_tags %}
{% if request.user.is_authenticated %}
    {% spaceless %}
        <div class="shop-panel">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th class="text-center" colspan="2"><a href="{% url "shop_cart" %}">Edit Weekly Order</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                
                {% if not request.cart.items.exists %}
                    <tr>
                        <td class="text-center" colspan="2">no items</td>
                    </tr>
                {% endif %}
                {% for item in request.cart.items.all %}
                    <tr>
                        <td>{{ item.quantity }}x</td>
                        <td>{{ item.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-condensed">
                <tbody>
                {% with budget=request.session.remaining_budget order_total=request.cart.item_total_price discount=request.cart.discount %}
                    <tr>
                        <td><strong>Item Total:</strong> {{ order_total|currency }}</td>
                    </tr>
                    {% if discount %}
                        <tr>
                            <td><strong>Discount:</strong> {{ discount|currency }}</td>
                        </tr>
                    {% endif %}
                    {% if request.session.shipping_type %}

                        <tr>
                            <td><strong>{{ request.session.shipping_type }}:</strong>
                                {% if request.session.shipping_total == "0" %}FREE!{% else %}
                                    {{ request.session.shipping_total|currency }}{% endif %}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td><strong>Remaining Budget:</strong> {{ budget|currency }}</td>
                    </tr>
                {% endwith %}

                </tbody>
            </table>

        {% if request.user.is_authenticated %}
            <a href="{% url 'shop_order_history' %}" class="btn btn-sm btn-block btn-info btn-account">
                <span class="glyphicon glyphicon-folder-open"></span> {% trans "View Order History" %}</a>

            <a href="{% url 'payments' %}" class="btn btn-sm btn-block btn-info btn-account">
                <span class="glyphicon glyphicon-folder-open"></span> {% trans "Manage Payments " %}</a>
        {% endif %}

        <button id="donate-button" class="btn btn-sm btn-block btn-info btn-account">
            <span class="glyphicon glyphicon-heart"></span> {% trans "Feed A Friend" %}</button>

        {% if not request.user.profile.is_subscribing_member %}
            {% with under_minimum=request.cart.under_one_time_order_minimum %}
                <a href="{% url 'shop_checkout' %}" class="btn btn-sm btn-block btn-info btn-account {% if under_minimum %}disabled{% endif %}">
                    <span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Checkout" %}</a>
            {% endwith %}
        {% endif %}
    </div>

    <!-- Feed A Friend Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Feed A Friend</h4>
                </div>
                <div class="modal-body">
                    {% if request.user.profile.is_subscribing_member %}
                        <p>If you have extra budget in you account this month, you can consider donating to the
                            Feed-A-Friend FFCSA fund, which makes it possible for families in need to be able to afford
                            membership in the FFCSA.</p>
                    {% else %}
                        <p>Consider donating to the Feed-A-Friend FFCSA fund, which makes it possible for families in
                            need to be able to afford membership in the FFCSA.</p>
                    {% endif %}

                    <form action="{% url "donate" %}?next={{ request.path }}" method="POST" id="donate-form"
                          class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="amount" class="control-label">Donation Amount</label>
                            <input class="form-control" type="text"
                                   data-rule-max="{{ request.session.remaining_budget }}" required name="amount"/>
                        </div>
                        {% for error in donate_errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-info submit" id="submit-donation" value="Donate"/>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
