{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n %}
{% block body_id %}category{% endblock %}

{% block title %}
   Note: You must be a member of the Full Farm CSA to order products!
{% endblock %}

{% block main %}{{ block.super }}

    {% block content %}
        {% editable page.category.content %}
            {{ page.category.content|safe }}
        {% endeditable %}
    {% endblock content %}

    {% if child_categories %}
        {% include 'pages/category-list.html' with categories=child_categories  %}
    {% endif %}

    {% if products.paginator.count != 0 %}

        <form class="product-sorting" role="form">
            <div class="form-group">
                <label class="control-label" for="sorting-select">{% trans "Sort by" %}</label>
                <select onchange="location.href = this[this.selectedIndex].value;" class="form-control"
                        id="sorting-select">
                    {% for name, option in settings.SHOP_PRODUCT_SORT_OPTIONS %}
                        {% if "rating" not in option or settings.SHOP_USE_RATINGS %}
                            <option{% if option == products.sort_by %} selected{% endif %}
                                                                       value="{{ category.get_absolute_url }}?sort=
                                                                               {{ option }}{{ querystring }}">
                                {{ name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </form>

        <div class="row product-list">
            {% for product in products.object_list %}
                <div class="col-xs-6 col-sm-4 col-lg-3 product-thumb">
                    <a href="{{ product.get_absolute_url }}" class="thumbnail">
                        {% if product.image %}
                            <img src="{{ MEDIA_URL }}{% thumbnail product.image 148 148 %}">
                        {% else %}
                            <div class="placeholder"></div>
                        {% endif %}
                        <div class="caption">
                            <h6>{{ product }}</h6>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% pagination_for products %}

    {% endif %}

{% endblock %}
