{% if not request.user.is_authenticated %}
    <div class="alert alert-warning non-field-error">FFCSA members please sign in to make your order</div>
{% else %}
    <div class="alert alert-warning non-field-error"><strong>Please place order between Monday 5PM and Wednesday
        Midnight.</strong>
        <br/>Substitutions may be made due to changes in availability and any substituted items will be of similar
        type and value. Supporting small farms means you get to experience seasonal variations!
    </div>
    {% if not request.user.profile.can_order %}
        <div class="alert alert-warning non-field-error"><strong>You are not yet able to make an order.</strong>
            <br/> Our Dairy Manager will
            be reaching out soon to go over a few points about our Raw Dairy Program. After that conversation, you will
            be able to make your first order.
        </div>
    {% endif %}
{% endif %}

