{% extends "admin/base_site.html" %}

{% load i18n mezzanine_tags staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static settings.MEZZANINE_ADMIN_PREFIX|add:"css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "mezzanine/css/admin/dashboard.css" %}">
    <!--[if IE 7]><style>.dashboard #content {padding-top: 80px;}</style><![endif]-->
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">{% trans "Home" %}</div>{% endblock %}

{% block content_title %}<h1>{% trans "Active Member Recent Orders" %}</h1>{% endblock %}

{% block content %}
    <div id="content-main">
        <table>
            <tr>
                <th>User</th>
                {% for wk in weeks %}
                    <th>{{ wk|date:"n/j" }}</th>
                {% endfor %}
                <th>Order Average</th>
            </tr>

            {% for d in data %}
                <tr>
                    <td>{{ d.user }}</td>
                    {% for total in d.orders %}
                        <td>{{ total }}</td>
                    {% endfor %}
                    <td style="{% if d.avg < 60 %}color:red;font-weight:700{% endif %}">{{ d.avg }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}

