.verify-amounts > .form-group {
    padding-left: 0px;
    padding-right: 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.StripeElement {
    padding-top: 10px;
}