{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n static %}
{% block body_id %}recipe{% endblock %}


{% block main %}{{ block.super }}

    {% include 'pages/category-alert.html' %}

    {% block content %}
        {#        <h3>{% editable page.title %}{{ page.title }}{% endeditable %}</h3>#}
        {% editable page.recipe.content %}
            {{ page.recipe.content|safe }}
        {% endeditable %}

    {% endblock content %}

    {% if recipes %}
        <div class="row shop-category-list">
            {% if settings.SHOP_CATEGORY_USE_FEATURED_IMAGE %}
                {% for recipe in recipes %}
                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <a href="{{ recipe.get_absolute_url }}" class="thumbnail">
                            {% if recipe.featured_image %}
                                <img src="{{ MEDIA_URL }}{% thumbnail recipe.featured_image 148 148 %}"/>
                            {% else %}
                                <img class="placeholder" src="{% static 'img/logo.png' %}"/>
                            {% endif %}
                            <div class="caption">
                                <h4>{{ recipe.title }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                {% for recipe in recipes %}
                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <a href="{{ recipe.get_absolute_url }}" class="thumbnail">
                            <div class="caption"><h4>{{ recipe.title }}</h4></div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <p>No recipes are currently published.</p>
    {% endif %}


{% endblock %}
