{% extends "pages/page.html" %}

{% load mezzanine_tags shop_tags i18n static %}
{% block body_id %}recipe{% endblock %}


{% block main %}{{ block.super }}

    {% include 'pages/category-alert.html' %}

    {% block content %}
        <h3>{% editable page.title %}{{ page.title }}{% endeditable %}</h3>
        {% editable page.recipe.content %}
            {{ page.recipe.content|safe }}
        {% endeditable %}

        {% if request.user.is_authenticated %}
            <form method="post" class="add-recipe-form">
                {% csrf_token %}
                <div class="form-actions">
                    <input type="submit" name="add_box_items" class="btn btn-primary btn-lg center-block"
                           value="{% trans "Add All Items To Weekly Order" %}">
                </div>
            </form>
        {% endif %}

    {% endblock content %}

    {% if products.paginator.count != 0 %}

        <div class="row product-list">
            {% for p in products.object_list %}
                {% if p.product.available %}
                    <div class="col-xs-6 col-sm-4 col-lg-3 product-thumb">
                        <div class="thumbnail">
                            <a href="{{ p.product.get_absolute_url }}">
                                {% if p.product.image %}
                                    <img src="{{ MEDIA_URL }}{% thumbnail p.product.image 148 148 %}">
                                {% else %}
                                    <img class="placeholder" src="{% static 'img/logo.png' %}"/>
                                {% endif %}
                                <div class="caption">
                                    <h6>{{ p.product }}</h6>
                                </div>
                            </a>
                            {% if can_order_dairy or not p.product.is_dairy %}
                                {% if p.product.variations.first.has_stock %}
                                    <p class="price text-center mb-4">{{ p.product.price|currency }}</p>
                                    <form method="post" class="product-quick-add-form form-group-sm">
                                        {% csrf_token %}
                                        <input type="number" class="form-control item-qty" placeholder="qty"
                                               name="item_qty" value="{{ p.quantity }}"/>
                                        <input type="hidden" name="item_id" value="{{ p.product.id }}"/>
                                        <input type="submit" class="btn btn-primary btn-sm form-control" name="add_item"
                                               value="{% trans "Add to Order" %}">
                                    </form>
                                {% else %}
                                    <p class="text-danger text-center">Out of Stock</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% pagination_for products %}

    {% endif %}

{% endblock %}
